* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(214, 210, 210);
}


#menu-principal {
    background-color: rgb(155, 117, 152);
    height: 150px;
}

#menu-navegacao {
    background-color: white;
    height: 90px;
    width: 98%;
    margin: 27px 10px 0px 10px;
    border-radius: 10px;
    position: absolute;
}

#bloco-principal {
    margin: 38px 1px 0px 1px;
}

#conteudo-principal {
    background-color: white;
    margin: 15px 0px 0px 10px;
    float: left;
    border-radius: 15px;
    height: 400px;
    width: 67%;
}

#conteudo-saldo {
    background-color: rgb(255, 255, 255);
    float: right;
    border-radius: 15px;
    height: 400px;
    margin: 15px 10px 0px 0px;
    width: 30%;
}

#rodape {
    background-color: white;
    height: 90px;
    width: 98%;
    margin: 425px 10px 10px 10px;
    border-radius: 10px;
    position: absolute;
}

#logo {
    max-height: 50px;
    margin: 22px 0px 0px 20px;

    
}

#busca {
    border-radius: 5px;
    padding: 20px 300px 0px 10px;
    margin-left: 10px;
  
}

#sair {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.icones-menu {
    max-height: 40px;
    margin: 18px 30px 0px 25px;
    float: left;
}

.menu-bank {
    list-style:none;
}

span {
    color: orange;
}
